@import url("https://use.typekit.net/quc8gpf.css");
* {
  margin: 0;
  body: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0;
  font-size: 16px;
  font-family: "p22-underground", sans-serif;
  font-weight: 300;
  background-color: white;
}

body header {
  width: 100%;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  position: relative;
}

body header nav {
  position: fixed;
  width: inherit;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

body header nav a:hover {
  background-color: lawngreen;
  cursor: pointer;
}

body header nav a.logo {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  padding-left: 2rem;
}

body header nav a.logo img {
  width: 12rem;
  margin: auto;
}

body header nav ul {
  width: 100%;
  display: inherit;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

body header nav ul li {
  list-style: none;
  font-weight: 800;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  padding-right: 2rem;
}

body header nav ul li a {
  color: black;
}

body header nav ul li a:link {
  text-decoration: none;
}

body header nav .social-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-right: 2rem;
}

body header nav .social-icon a.linkedin-icon {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  margin: auto;
}

body header nav .social-icon a.linkedin-icon:link {
  text-decoration: none;
}

body header nav .social-icon a.linkedin-icon img {
  width: 4rem;
}

body section.intro {
  display: block;
  -webkit-box-align: middle;
      -ms-flex-align: middle;
          align-items: middle;
  text-align: center;
}

body section.intro .intro-image {
  width: 40%;
  height: 100%;
  margin: auto;
  -ms-grid-column-align: center;
      justify-self: center;
  aspect-ratio: 1 / 1;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-clip-path: url(#mask);
          clip-path: url(#mask);
}

body section.intro .pattern-test {
  width: 20rem;
  background-image: url("data:image/svg+xml,<svg id='patternId' width='100%' height='100%' xmlns='http://www.w3.org/2000/svg'><defs><pattern id='a' patternUnits='userSpaceOnUse' width='40' height='69.282' patternTransform='scale(2) rotate(0)'><rect x='0' y='0' width='100%' height='100%' fill='hsla(33, 38%, 51%, 1)'/><path d='M13.333-3.849v23.094M6.667-15.396l20 11.547M13.333-19.245l20 11.547M20 0v23.094m20-34.641l-6.667 3.849-6.666 3.849L20 0M0-11.547l6.667 3.849 6.666 3.849L20 0m0-23.094l20 11.547v23.094L20 23.094l-6.667-3.849-6.666-3.849L0 11.547v-23.094l6.667-3.849 6.666-3.849zM40-3.769L20 7.698m20-3.849l-16.253 9.384L20 15.396M6.667-7.698v23.094m6.666 50.037v23.094M6.667 53.886l20 11.547M13.333 50.037l20 11.547M20 69.282v23.094m20-34.641l-6.667 3.849-6.666 3.849L20 69.282M0 57.735l6.667 3.849 6.666 3.849L20 69.282m0-23.094l20 11.547v23.094L20 92.376l-6.667-3.849-6.666-3.849L0 80.829V57.735l6.667-3.849 6.666-3.849zm20 19.325L20 76.98m20-3.849L20 84.678M6.667 61.584v23.094m26.666-53.886v23.094m-6.666-34.641l20 11.547M33.333 15.396l20 11.547M40 34.641v23.094m20-34.641l-6.667 3.849-6.666 3.849L40 34.641M20 23.094l6.667 3.849 6.666 3.849L40 34.641m0-23.094l20 11.547v23.094L40 57.735l-6.667-3.849-6.666-3.849L20 46.188V23.094l6.667-3.849 6.666-3.849zm20 19.325L40 42.339m20-3.849L40 50.037M26.667 26.943v23.094M-6.667 30.792v23.094m-6.666-34.641l20 11.547M-6.667 15.396l20 11.547M0 34.641v23.094m20-34.641l-6.667 3.849-6.666 3.849L0 34.641m-20-11.547l6.667 3.849 6.666 3.849L0 34.641m0-23.094l20 11.547v23.094L0 57.735l-6.667-3.849-6.666-3.849L-20 46.188V23.094l6.667-3.849 6.666-3.849zm20 19.325L0 42.339m20-3.849L0 50.037m-13.333-23.094v23.094'  stroke-width='1' stroke='hsla(33, 80%, 21%, 1)' fill='none'/></pattern></defs><rect width='800%' height='800%' transform='translate(0,0)' fill='url(%23a)'/></svg>");
}

body section.intro .intro-text h1 {
  font-family: "rama-gothic-m", sans-serif;
  font-weight: 300;
  font-size: 2rem;
}

body section.skills-list {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

body section.skills-list .skill {
  width: 50%;
  margin: auto;
}

body section.skills-list .skill img {
  max-width: 10rem;
}

body section.skills-list .skills-one {
  text-align: left;
}

body section.skills-list .skills-two {
  text-align: right;
}

body section.skills-list .skills-three {
  text-align: left;
}

body section.skills-list ul {
  list-style: none;
}

body section.skills-list ul li {
  list-style: none;
}

body section.highlights h2 {
  font-family: "rama-gothic-m", sans-serif;
  font-size: 2rem;
  text-align: center;
}

body section.highlights div.work-gallery {
  padding: 1rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  -ms-grid-rows: (20rem)[1];
      grid-template-rows: repeat(1, 20rem);
  grid-gap: 1rem;
  max-height: 20rem;
}

body section.highlights div.work-gallery a.gallery__item {
  overflow: hidden;
  height: 100%;
}

body section.highlights div.work-gallery a.gallery__item img {
  height: 100%;
}

body footer {
  width: 100%;
}

body footer .footer-logo {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
}

body footer .footer-logo img {
  width: 8rem;
}

body footer .lower-footer-sect {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

body footer .lower-footer-sect ul li {
  list-style: none;
}

body footer .lower-footer-sect form {
  display: inherit;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (min-width: 319px) and (max-width: 450px) {
  body {
    width: 100%;
  }
  body header nav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  body header nav a.logo img {
    width: 4rem;
  }
  body section.intro {
    height: 75vh;
  }
  body section.intro .intro-image {
    width: 90%;
    padding-top: 10rem;
  }
  body section.skills-list {
    height: 100vh;
  }
  body section.skills-list .skill {
    width: 90%;
  }
  body section.skills-list .skills-one, body section.skills-list .skills-two, body section.skills-list .skills-three {
    text-align: center;
  }
  body section.highlights {
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
  }
  body section.highlights .work-gallery {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  body footer {
    text-align: center;
  }
  body footer .footer-logo {
    margin: auto;
  }
  body footer .lower-footer-sect {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  body footer .lower-footer-sect ul {
    margin: auto;
    text-align: center;
  }
  body footer .lower-footer-sect ul li {
    text-align: center;
  }
}

@media (min-width: 451px) and (max-width: 775px) {
  body {
    width: 100%;
  }
  body header nav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  body header nav a.logo img {
    width: 4rem;
  }
  body section.intro {
    height: 75vh;
  }
  body section.intro img.intro-image {
    width: 90%;
  }
  body section.skills-list {
    height: 100vh;
  }
  body section.highlights {
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
  }
  body section.highlights .work-gallery {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
  body footer a.footer-logo {
    margin: auto;
    text-align: center;
  }
  body footer .lower-footer-sect {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
/*# sourceMappingURL=style.css.map */