@import url("https://use.typekit.net/quc8gpf.css");

$logo-font: 'rama-gothic-m', sans-serif;
$body-font: 'p22-underground', sans-serif;

*{
    margin: 0;
    body: 0;
    box-sizing: border-box;
}

body{
    margin: 0;
    font-size: 16px;
    font-family: $body-font;
    font-weight: 300;
    background-color: white;
    header{
        width: 100%;
        height: max-content;
        display: flex;
        flex-direction: row;
        position: relative;
        nav{
            position: fixed;
            width: inherit;
            justify-content: space-around;
            display: flex;
            flex-direction: row;
            a.logo{
                width: max-content;
                height: max-content;
                padding-left: 2rem;
                img{
                    width: 12rem;
                    margin: auto;
                }
            }
            ul{
                width: 100%;
                display: inherit;
                justify-content: flex-end;
                li{
                    list-style: none;
                    font-weight: 800;
                    align-self: center;
                    padding-right: 2rem;
                    a{
                        color: black;
                        &:link{
                            text-decoration: none;
                        }
                    }
                }
            }
            .social-icon{
                display: flex;
                flex-direction: column;
                padding-right: 2rem;
                a.linkedin-icon{
                    width: max-content;
                    height: max-content;
                    margin: auto;
                    &:link{
                        text-decoration: none;
                    }
                    img{
                        width: 4rem;
                    }
                }
            }
        }
    }
    section.intro{
        display: block;
        align-items: middle;
        text-align: center;
        .intro-image{
            width: 30rem;
            margin: auto;
        }
        .intro-text{
            h1{
                font-family: $logo-font;
                font-weight: 300;
                font-size: 2rem;
            }
        }
    }
    section.skills-list{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        .skill{
            width: 100%;
            img{
                max-width: 10rem;
            }
        }
        ul{
            list-style: none;
            li{
                list-style: none;
            }
        }
    }
    section.highlights{
        h2{
            font-family: $logo-font;
            font-size: 2rem;
            text-align: center;
        }
        .work-gallery{
            padding: 1rem;
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            grid-template-rows: repeat(1, 20rem);
            grid-gap: 1rem;
            .gallery__item{
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }
    footer{
        width: 100%;
        .footer-logo{
            width: max-content;
            height: max-content;
            img{
                width: 8rem;
            }
        }
        .lower-footer-sect{
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            ul{
                li{
                    list-style: none;
                }
            }
            form{
                display: inherit;
                flex-direction: column;
            }
        }
    }
}