@import url("https://use.typekit.net/quc8gpf.css");

$logo-font: 'rama-gothic-m', sans-serif;
$body-font: 'p22-underground', sans-serif;

*{
    margin: 0;
    body: 0;
    box-sizing: border-box;
}

body{
    margin: 0;
    font-size: 16px;
    font-family: $body-font;
    font-weight: 300;
    background-image: url("data:image/svg+xml,<svg id='patternId' width='100%' height='100%' xmlns='http://www.w3.org/2000/svg'><defs><pattern id='a' patternUnits='userSpaceOnUse' width='32' height='32' patternTransform='scale(2) rotate(0)'><rect x='0' y='0' width='100%' height='100%' fill='hsla(0,0%,100%,1)'/><path d='M40 16h-6m-4 0h-6m8 8v-6m0-4V8M8 16H2m-4 0h-6m8 8v-6m0-4V8'  stroke-linejoin='round' stroke-linecap='round' stroke-width='0.5' stroke='hsla(66, 70%, 54%, 0.49)' fill='none'/><path d='M16-8v6m0 4v6m8-8h-6m-4 0H8m8 24v6m0 4v6m8-8h-6m-4 0H8'  stroke-linejoin='round' stroke-linecap='round' stroke-width='0.5' stroke='hsla(33, 90%, 65%, 0.49)' fill='none'/></pattern></defs><rect width='800%' height='800%' transform='translate(0,0)' fill='url(%23a)'/></svg>");
    header{
        width: 100%;
        display: flex;
        flex-direction: row;
        h1{
            font-family: $logo-font;
            font-weight: 300;
            font-size: 4rem;
            width: 30%;
        }
        nav{
            width: 70%;
            ul{
                display: flex;
                flex-direction: row;
                width: 100%;
                justify-content: space-evenly;
                li{
                    list-style: none;
                    vertical-align: middle;
                    align-items: center;
                    a{
                        color: aqua;
                        &:link{
                            text-decoration: none;
                        }
                    }
                }
            }
        }
    }
    section.intro{
        display: block;
        align-items: middle;
        text-align: center;
        .profile-image{
            width: 20rem;
            margin: auto;
        }
        .intro-text{
            h1{
                font-family: $logo-font;
                font-weight: 300;
                font-size: 2rem;
            }
        }
    }
    section.highlights{
        h2{
            font-family: $logo-font;
            font-size: 2rem;
        }
    }
}