.causesLanding{
    width: 100%;
    height: 80vh;
    background-color: rgb(58, 52, 52);
    background-blend-mode: screen;
    background-image: url('../assets/images/building-upwardview.jpg');
    background-size: cover;
    background-position: center;
    display: flex;
}

.causesLanding > h2{
    font-size: clamp(3rem, 4rem, 5rem);
    margin: auto;
}

.list{
    margin: auto;
    display: flex;
    flex-direction: column;
}

.cause{
    margin: auto;
    min-height: 25vh;
    max-width: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.causeLink{
    color: pink;
    text-decoration: none;
    vertical-align: middle;
}