.causesLanding{
    width: 100%;
    height: 80vh;
    background-color: rgb(58, 52, 52);
    background-blend-mode: screen;
    background-image: url('../assets/images/building-upwardview.jpg');
    background-size: cover;
    background-position: center;
}

.list{
    margin: auto;
    display: flex;
    flex-direction: column;
}

.cause{
    margin: auto;
}