.form{
    display: flex;
    flex-direction: column;
    width: 50%;
    max-width: 20rem;
    margin: auto;
    font-family: kings-caslon, sans-serif;
}

.text_input{
    width: 75%;
    margin: 1rem;
    justify-self: flex-end;
}

.email_input{
    width: 75%;
    margin: 1rem;
}

.submit_btn{
    margin: 1rem;
    height: 2rem;
    max-width: 5rem;
    border-radius: 25px;
    border-style: none;
    background-color: greenyellow;
}