
.container{
    width: 100%;
}

.homeIntro{
    height: 75vh;
    min-height: 75vh;
    width: 100%;
    display: flex;
    background-color: grey;
    background-blend-mode: screen;
    background-position: center;
    background-size: cover;
    background-image: url("../images/congress-lawn.jpg");
}

h1{
    font-size: 4rem;
    margin: auto;
    color: hsla(208, 66, 34, 1);
}

/* main image of client */
.profile{
    max-height: 700px;
    max-width: 500px;
    margin: auto;
    justify-content: center;
    aspect-ratio: 1/2;
}

.bio{
    display: flex;
    flex-direction: column;
    padding: 0 2rem;
    margin: auto;
    min-height: 100vh;
    width: 60%;
    text-align: center;
    font-size: 1.5rem;
}

.bio > svg{
    margin: auto;
    font-size: 3rem;
}