@import url("https://use.typekit.net/quc8gpf.css");

.nav{
    width: 100%;
}

.container{
    margin: auto;
    max-width: 1000px;
    font-family: 'p22-underground', sans-serif;
}

.heading{
    color: seagreen;
}

.logo {
    width: 100%;
    height: 3rem;
    justify-self: center;
}

.navLinks{
    list-style: none;
    width: inherit;
    justify-content: flex-end;
    display: flex;
    flex-direction: row;
    color: #000;
}
.navLinkItem {
    padding-right: 2rem;
    list-style: none;
    font-weight: 800;
    align-self: center;
    padding-right: 2rem;
}
.navLinkText{
    list-style: none;
    text-decoration: none;
    color: black;
}
.socialIcon{
    max-width: 3rem;
    color: #000;
}

.introArch{
    position: relative;
    height: 100%;
}

.introImage{
    width: 40%;
    height: 100%;
    margin: auto;
    justify-self: center;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    clip-path: url(../images/Arch.svg);
}

.list{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.skill{
    width: 50%;
    margin: auto;
}

.skillIcon{
    max-width: 10rem;
}

.footerLogo {
    max-width: 1rem;
    max-height: 3rem;
    justify-self: center;
}

.footerLinks{
    list-style: none;
    width: inherit;
    justify-content: flex-start;
    display: flex;
    flex-direction: column;
}

.footerLinkItem {
    list-style: none;
    font-weight: 800;
    align-self: left;
    padding-right: 2rem;
}

.footerLinkText{
    list-style: none;
    text-decoration: none;
    color: black;
}



.form{
    display: flex;
    flex-direction: column;
    width: 50%;
}