@import url("https://use.typekit.net/quc8gpf.css");
/* Color Theme Swatches in Hex
BERRY           #A64D79     hsl(330, 36%, 47%)
PINK            #ECD2FA     hsl(279, 80%, 90%)
DARK NAVY       #0D2740     hsl(209, 66%, 15%)
NAVY            #1E5B94     hsl(208, 66%, 34%)
BB BLUE         #E9F4FF     hsl(209, 100%, 95%)
OFF WHITE       #F2F2F2     hsl(0, 0%, 94%)
*/

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container{
    margin: auto;
    width: 100%;
    font-family: garamond-premier-pro-display, serif;
    font-weight: 300;
    font-style: normal;
    font-size: 18px;
}

h1, h2, h3, h4{
    font-family: rama-gothic-m, sans-serif;
    color: hsl(208, 66%, 34%);
}

h1{
    font-weight: 900;
    font-style: normal;
}
h2{
    font-weight: 600;
    font-style: normal;
}
h3{
    font-weight: 300;
    font-style: normal;
}

.heading{
    color: hsl(146, 50%, 36%);
}

.nav{
    width: 100%;
    height: 5rem;
    z-index: 25;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: fixed;
}

.logo{
    width: 100%;
    max-width: 300px;
    height: 100%;
    max-height: 4rem;
    justify-self: center;
}

.burger{
    display: none;
}

.navItemsOpen{
    display: flex;
    flex-direction: row;
}

.navItemsClosed{
    display: none;
}

.navLinkText{
    list-style: none;
    text-decoration: none;
    color: hsl(208, 66%, 34%);
    font-family: rama-gothic-m, sans-serif;
    font-weight: 600;
    font-size: 2rem;
    align-self: center;
    padding: 0 2rem;
}

.navLinkText:hover{
    color: hsl(279, 80%, 90%);
}

.activeLink{
    color: hsl(330, 36%, 47%);
}

.introArch{
    position: relative;
    height: 100%;
}

.pageTitle{
    color: plum;
}

@media screen and (max-width: 750px) {
    .burger{
        display: block;
    }

    .navItems{
        display: none;
    }
}