@import url("https://use.typekit.net/quc8gpf.css");

.nav{
    width: 100%;
}

.container{
    margin: auto;
    max-width: 1000px;
    font-family: 'p22-underground', sans-serif;
}

.heading{
    color: seagreen;
}

.logo {
    width: 100%;
    height: 3rem;
    justify-self: center;
}

.navLinks{
    list-style: none;
    width: inherit;
    justify-content: flex-end;
    display: flex;
    flex-direction: row;
    color: #000;
}
.navLinkItem {
    padding-right: 2rem;
    list-style: none;
    font-weight: 800;
    align-self: center;
    padding-right: 2rem;
}
.navLinkText{
    list-style: none;
    text-decoration: none;
    color: black;
}
.socialIcon{
    max-width: 3rem;
    color: #000;
}

.introArch{
    position: relative;
    height: 100%;
}

.introImage{
    width: 50%;
    height: 60%;
    margin: auto;
    justify-self: center;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    clip-path: M317,325.55h-.75a4.82,4.82,0,0,1,0-.77.38.38,0,0,1,.7,0A6.26,6.26,0,0,1,317,325.55Z;
}

.footerLogo {
    max-width: 1rem;
    max-height: 1rem;
    justify-self: center;
}

.footerLinks{
    list-style: none;
    width: inherit;
    justify-content: flex-start;
    display: flex;
    flex-direction: column;
}

.footerLinkItem {
    list-style: none;
    font-weight: 800;
    align-self: left;
    padding-right: 2rem;
}

.footerLinkText{
    list-style: none;
    text-decoration: none;
    color: black;
}