@import url("https://use.typekit.net/quc8gpf.css");

$logo-font: 'rama-gothic-m', sans-serif;
$body-font: 'p22-underground', sans-serif;

$breakpoints: (phone: 425px,
                tablet: 750px,
                desktop: 1024px) !default;

